# DialogFlow Account Key
**/*key.json

# Properties file with credentials
**/*-private*.properties

# Runtime Data
**/data/

# Xatkit logs

**/logs

# Bin scripts
**/bin

# Eclipse's .settings
**/.settings